@using Doantieuluanlaptrinh.Models
@{
    ViewBag.Title = "Index";
    GioHang item = ViewData["dulieugh"] as GioHang;
}

<main class="main">
    <div class="page-header text-center" style="background-image: url('assets/images/page-header-bg.jpg')">
        <div class="container">
            <h1 class="page-title">Shopping Cart<span>Shop</span></h1>
        </div><!-- End .container -->
    </div><!-- End .page-header -->
    <nav aria-label="breadcrumb" class="breadcrumb-nav">
        <div class="container">
            <ol class="breadcrumb">
                <li class="breadcrumb-item"><a href="index.html">Home</a></li>
                <li class="breadcrumb-item"><a href="#">Shop</a></li>
                <li class="breadcrumb-item active" aria-current="page">Shopping Cart</li>
            </ol>
        </div><!-- End .container -->
    </nav><!-- End .breadcrumb-nav -->

    <div class="page-content">
        <div class="cart">
            <div class="container">
                <div class="row">
                    <div class="col-lg-9">
                        <table class="table table-cart table-mobile">
                            <thead>
                                <tr>
                                    <th>Sản phẩm</th>
                                    <th>Giá tiền</th>
                                    <th>Số lượng</th>
                                    <th>Tổng tiền</th>
                                    <th></th>
                                </tr>
                            </thead>

                            <tbody>
                                @foreach (CtDonHang i in item.DonHangGH.Values) {
                                  <tr>
                                      <td class="product-col">
                                          <div class="product">
                                              <figure class="product-media">
                                                  <a href="#">
                                                      <img src="@GioHang.layhinhLaySanPhamByMa(i.maSP)" alt="Product image">
                                                  </a>
                                              </figure>

                                              <h3 class="product-title">
                                                  <a href="#">@GioHang.laytenLaySanPhamByMa(i.maSP)</a>
                                              </h3><!-- End .product-title -->
                                          </div><!-- End .product -->
                                      </td>
                                      <td class="price-col">@string.Format("{0:#,##0 đ}", i.giaBan)</td>
                                      <td class="quantity-col">
                                          <div class="cart-product-quantity">
                                              @using (Html.BeginForm("tangSP", "Cart", FormMethod.Post))
                                              {
                                                  <input type="hidden" name="maSP" value="@i.maSP" />
                                                  <button class="cart-total-price">+</button>
                                              }
                                              <input type="text" class="form-control" value="@i.soLuong" required>
                                              @using (Html.BeginForm("giamSP", "Cart", FormMethod.Post))
                                              {
                                                  <input type="hidden" name="maSP" value="@i.maSP" />
                                                  <button class="cart-total-price">-</button>
                                              }
                                          </div><!-- End .cart-product-quantity -->
                                      </td>
                                      <td class="total-col">@string.Format("{0:#,##0 đ}", item.tinhTien(i))</td>
                                      <td class="remove-col">
                                          @using (Html.BeginForm("XoaSP", "Cart", FormMethod.Post))
                                          {
                                              <input type="hidden" name="maSP" value="@i.maSP" />
                                              <button class="btn-remove"><i class="icon-close"></i></button>
                                          }
                                          
                                      </td>
                                  </tr>  
                                }
                                
                              
                            </tbody>
                        </table><!-- End .table table-wishlist -->

                        <div class="cart-bottom">
                            <div class="cart-discount">
                                <form action="#">
                                    <div class="input-group">
                                        <input type="text" class="form-control" required placeholder="coupon code">
                                        <div class="input-group-append">
                                            <button class="btn btn-outline-primary-2" type="submit"><i class="icon-long-arrow-right"></i></button>
                                        </div><!-- .End .input-group-append -->
                                    </div><!-- End .input-group -->
                                </form>
                            </div><!-- End .cart-discount -->

                            <a href="#" class="btn btn-outline-dark-2"><span>Cập nhập giỏi hàng</span><i class="icon-refresh"></i></a>
                        </div><!-- End .cart-bottom -->
                    </div><!-- End .col-lg-9 -->
                    <aside class="col-lg-3">
                        <div class="summary summary-cart">
                            <h3 class="summary-title">Tính tiền sản phẩm</h3><!-- End .summary-title -->

                            <table class="table table-summary">
                                <tbody>
                                    <tr class="summary-subtotal">
                                        <td>Tính tiền:</td>
                                        <td>@string.Format("{0:#,##0 đ}", item.Tongtien())</td>
                                    </tr><!-- End .summary-subtotal -->
                                    <tr class="summary-subtotal">
                                        <td>Thuế VAT 10%:</td>
                                        <td>@string.Format("{0:#,##0 đ}", item.Tongtien() * 10 / 100)</td>
                                    </tr><!-- End .summary-subtotal -->

                               

                                    <tr class="summary-total">
                                        <td>Tong tien:</td>
                                        <td>@string.Format("{0:#,##0 đ}", (item.Tongtien() * 10 / 100) + item.Tongtien() )</td>
                                    </tr><!-- End .summary-total -->
                                </tbody>
                            </table><!-- End .table table-summary -->

                            <a href="@Url.Action("Checkout","Cart")" class="btn btn-outline-primary-2 btn-order btn-block">CHECKOUT</a>
                        </div><!-- End .summary -->

                        <a href="@Url.Action("Index","Home")" class="btn btn-outline-dark-2 btn-block mb-3"><span>Tiếp túc mua hàng</span><i class="icon-refresh"></i></a>
                    </aside><!-- End .col-lg-3 -->
                </div><!-- End .row -->
            </div><!-- End .container -->
        </div><!-- End .cart -->
    </div><!-- End .page-content -->
</main><!-- End .main -->
